<footer class="footer hero">
    <div class="hero-foot">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">About</h1>
                    <ul>
                        <li>
                            <a href="/team">
                                <i class="icon fa fa-users" aria-hidden="true"></i>
                                The Team
                            </a>
                        </li>
                        <li>
                            <a href="mailto:hello@secureweb.ltd">
                                <i class="icon fa fa-envelope" aria-hidden="true"></i>
                                hello@secureweb.ltd
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h1 class="title">Social</h1>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/company/secureweb">
                                <i class="icon fa fa-linkedin" aria-hidden="true"></i>
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/secureweb">
                                <i class="icon fa fa-gitlab" aria-hidden="true"></i>
                                Gitlab
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h1 class="title">References</h1>
                    <ul>
                        <li>
                            <a href="https://kubernetes.io">
                                <i class="icon fa fa-kubernetes" aria-hidden="true"></i>
                                Kubernetes
                            </a>
                        </li>
                        <li>
                            <a href="https://about.gitlab.com">
                                <i class="icon fa fa-gitlab" aria-hidden="true"></i>
                                Gitlab
                            </a>
                        </li>
                        <li>
                            <a href="https://landing.google.com/sre/">
                                <i class="icon fa fa-area-chart" aria-hidden="true"></i>
                                Site Relability Engineering
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cncf.io/">
                                <i class="icon fa fa-server" aria-hidden="true"></i>
                                Cloud Native Computing Foundation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="columns is-centered has-text-centered">
                <div class="column">
                    <a href="/terms">Privacy Statement</a>
                </div>
                <div class="column">
                    <a href="/terms">Terms & Conditions</a>
                </div>
                <div class="column">
                    <a href="/terms">Cookie Policy</a>
                </div>
                <div class="column">
                    <a href="/sitemap.xml">Sitemap</a>
                </div>
            </div>       
            <div class="columns is-centered has-text-centered">   
                <ul>
                    <li>Registered in Scotland No. SC452364</li>
                    <li>Copyright &#169; 2019 secureweb</li>
                </ul> 
            </div> 
        </div>
    </div>
</footer>
