<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Site.Title}}</title>
    <link rel="icon" href="/images/favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.4/css/bulma.css" integrity="sha512-eFsXLxlvEqjqSgTye2eGiO1DSwSEQLzPafvB1DVoqzxcBDq7R1kyveQBbeH9QQUnXx9V4zKZcvr1Ms6kxkLKjQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
</head>
